/** css per toolbar*/
.toolbar {
  h1 {
    margin-left: 1em;
  }
}

/** css per form*/
.add-form-container {
  padding: 4em;
  text-align: center;
  max-width: 400px;
  margin: auto;

  mat-card-title {
    margin: 1em !important;
  }

  button {
    margin-top: 10px !important;
  }

  mat-card-content {
    margin-bottom: 0;
  }

  form {
    padding-top: 1em;
  }

  mat-form-field {
    width: 90%;
  }

  button {
    width: 80%;
    max-width: 300px;
    margin-bottom: 1em;
  }

  button:hover, .detail-options {
    cursor: pointer;
  }

}



