.toolbar {
  h1 {
    margin-left: 1em;
  }
}

.all-habits {
  text-align: center;

  h1 {
    margin-top: 1em;
  }

  mat-card {
    width: 80%;
    margin: 1em auto;
    text-align: left;
  }

  .habit-icon {
    vertical-align: middle;
    padding-bottom: 3px;
    font-weight: 600;
  }
  .detail-label {
    font-weight: 500;
  }
  .detail-options {
    position: absolute;
    top: 14px;
    right: 10px;
  }
  .detail-options mat-icon {
    padding-right: 5px;
  }
  button:hover, .detail-options {
    cursor: pointer;
  }
}


