<section class="all-habits">
  <h1>All Habits</h1>
  <button mat-raised-button color="accent" (click)="onAdd()">
    Add New Habit
  </button>
  <div *ngFor="let habit of habits; let i = index;">
    <mat-card>
      <mat-card-title>
        <mat-icon class="habit-icon" color="accent" aria-hidden="false" aria-label="circle check mark icon">
          check_circle_outline</mat-icon>
        {{ habit.name }}
      </mat-card-title>
      <div class="detail-options">
        <mat-icon class="habit-icon" color="primary" (click)="onEdit(habit, i)">edit</mat-icon>
        <mat-icon class="habit-icon" color="warn" (click)="onDelete(i)">remove_circle</mat-icon>
      </div>
      <mat-card-content>
        <p>
          <span class="detail-label">Frequency:</span> {{ habit.frequency }}
        </p>
        <p>
          <span class="detail-label">Why is this habit important to me?</span>
          <br />{{ habit.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
